[submodule "doxygen-awesome-css"]
	path = deps/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "deps/blib"]
	path = deps/blib
	url = https://github.com/BerryHeyy/blib.git
